body{
  background-color: #F2D4D6!important;
}

/*Navigation CSS*/
.customNav {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #F2D4D6!important;
}

.sectionHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.navbar-brand {
  padding-right: 50px;
}

.nav-item {
  margin: 0px 15px;
}

.imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

      
/*Sizing of image bootstrap*/
.homePhoto{
  width: 100%; 
  max-width: 400px!important;
  height: auto;
}

.h1Subheading{
  font-size: 2rem;
}

.h1Sub2heading{
  font-size: 1.75rem;
}

.h1Sub3heading{
  font-size: 1.25rem;
}